.product-image {
    width: 300px;
}

.product-container {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 30px;

}

.product-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.product-details-tabs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
}

.product-details-tabs button::after {
    content: url("https://img.icons8.com/?size=12&id=99991&format=png&color=000000");
    margin-left: 8px;
}

button {
    width: 100%;
    height: 50px;
    border-bottom: darkgrey solid 1px;
    border-radius: 2px;
    text-align: left;
}

.product-rating {
    display: flex;
    gap: 10px;

}

a {
    color: darkblue;
}

.price-discount-availability {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-container {
    width: 100%;
    border: darkgrey solid 1px;
    border-radius: 10px;
    padding: 10px;
}

#product-review {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 0;
}


.review-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}


