body {
    padding: 30px;
    background-color: rgba(127, 117, 202, 0.82);
}
.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    justify-items: center;
}