.comment-container-dj {
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1.5px solid #715161;
    border-radius: 10px;
    color: #e4d3dc;
    padding: 30px 30px 15px 30px;
    transition: transform 0.5s ease;
}

.comment-container-dj:hover {
    transform: scale(1.1);
    background: #4d2f48;
    background: radial-gradient(circle,rgba(77, 47, 72, 1) 0%, rgba(50, 9, 66, 1) 100%);
}

.likes-dj {
    display: flex;
    gap: 7px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-container>p:nth-child(2) {
    color: #8a7786;
}
